.card {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.75) 0rem 0.3125rem 0.9375rem;
  width: 100%;
  &__name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 200px;
    height: 200px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
