.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  border-radius: 7px;
  min-width: 50%;
  height: 50px;
  position: relative;
}

input::placeholder {
  font-size: 20px;
}

table {
  border: 1px solid black;
  width: 50%;
  height: 300px;

  & th {
    font-size: 30px;
    border: 1px solid black;
  }

  & td {
    font-size: 25px;
    border: 1px solid black;
  }
}
