.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  border-radius: 7px;
  min-width: 50%;
  height: 50px;
  position: relative;
}

input::placeholder {
  font-size: 20px;
}

table {
  width: 50%;
  height: 100px;
  background-color: rgb(255, 170, 113);
  margin-bottom: 100px;
  border-radius: 12px;
  & th {
    font-size: 30px;
  }

  & td {
    font-size: 25px;
  }
}

.btn__container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
